//VARIABLES

//Text Colors
$headlineColor: white;
$secondHeadlineColor: beige;

//Background color
$backgroundRed: #c31432;
$backgroundBlue: #240b36;

//Text input
$backgroundText: hsla(0, 0%, 100%, 0.137);
