// IMPORTS
@import "./imports";

//Main

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 span {
  color: $headlineColor;
  font-size: toRem(72);
}

h2 {
  color: $secondHeadlineColor;
  font-size: toRem(16);
}

h3 {
  color: $secondHeadlineColor;
}

p {
  color: $secondHeadlineColor;
}

a {
  color: $secondHeadlineColor;
}

.jumbotron {
  background-color: transparent;
}

.col-sm-3 {
  width: 100%;
}
