@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
.text_1 {
  -webkit-animation: text1;
          animation: text1;
}

.text_2 {
  -webkit-animation: text2;
          animation: text2;
}

.text_1,
.text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
  -webkit-animation-timing-function: steps(20, end);
          animation-timing-function: steps(20, end);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.text_1::after,
.text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  -webkit-animation: caret infinite;
          animation: caret infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

@-webkit-keyframes text2 {
  0%,
  50%,
  100% {
    width: 0;
  }
  60%,
  90% {
    width: 14.8em;
  }
}

@keyframes text2 {
  0%,
  50%,
  100% {
    width: 0;
  }
  60%,
  90% {
    width: 14.8em;
  }
}

@-webkit-keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 6.9em;
  }
}

@keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 6.9em;
  }
}

@-webkit-keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.progress {
  height: 0.5rem;
  width: 15rem;
  margin-right: auto;
  margin-left: auto;
}

.progress .skill {
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}

.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  background: -webkit-gradient(linear, left top, left bottom, from(#c31432), to(#240b36));
  background: linear-gradient(#c31432, #240b36);
  border: 1px solid black;
}

footer {
  position: fixed;
  background-color: transparent;
}

footer p {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #c31432;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#240b36), to(#c31432));
  background: linear-gradient(to right, #240b36, #c31432);
}

html {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

h1 span {
  color: white;
  font-size: 4.5rem;
}

h1 {
  color: white;
  margin: 0;
  font-family: "Dosis", sans-serif;
}

h2 {
  color: beige;
  font-size: 1rem;
}

h3 {
  color: beige;
}

p {
  color: beige;
}

a {
  color: beige;
}

section {
  width: 100%;
  height: 100vh;
}

.two {
  background-color: rgba(0, 0, 0, 0.39);
}

.three {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.four {
  background-color: rgba(0, 0, 0, 0.7);
}

.h1tag {
  color: #ff616a;
}

.h1tagless {
  color: #888d94;
}

.experience {
  padding: 5rem 0 20rem 0;
}
/*# sourceMappingURL=style.css.map */